# Virtual environment
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit cache
.streamlit/

# OS stuff
.DS_Store
Thumbs.db

# JANGAN UPLOAD DATASET BESAR
*.zip
*.tar
*.tar.gz

# JANGAN UPLOAD LIBRARY DLL BESAR
*.dll

